h1 {
	color: #1E1E1E;
	font-family: 'Nunito', sans-serif;
	text-align: center;
	vertical-align: middle;
	/*position: fixed;*/
	top: 85px;
	position: relative;
}


h2 {
	color: #787878;
	font-family: 'Nunito', sans-serif;
	text-align: center;
	vertical-align: middle;
	top: 90px;
	width: 500px;
	margin: auto;
	position: relative;
}


p.bioa {
	color: rgba(80,80,80,100);
	font-family: 'Nunito', sans-serif;
	text-align: center;
	vertical-align: middle;
	width: 400px;

	position: relative; 
	top: 85px;
	margin: auto;
	display: flex;
	justify-content: center;
	flex-direction: column;	
}
p.biob {
	color: rgba(80,80,80,100);
	font-family: 'Nunito', sans-serif;
	text-align: center;
	vertical-align: middle;
	width: 400px;

	position: relative; 
	top: 100px;
	margin: auto;
	display: flex;
	justify-content: center;
	flex-direction: column;	
}




ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: rgba(230,230,230,100);
    font-family: 'Nunito', sans-serif;
	text-align: center;
	vertical-align: middle;
	width: 100%;
    position: fixed; 
    overflow: auto; 
    top: 0;
    z-index: 1000;
    /*mask-image: linear-gradient(90deg, rgba(255, 255, 255, 0) 0%, #ffffff 25%, #ffffff 75%, rgba(255, 255, 255, 0) 100%);*/
    /*mask-image: linear-gradient(90deg, rgba(255, 255, 255, 0) 0%, #ffffff 25%, #ffffff 75%, rgba(255, 255, 255, 0) 100%);*/
    /*left: -3px;*/
	/*top: 100px;*/
	/*position: fixed;*/
}

li {
    /*float: center;*/
    display: inline-block;
}

li a {
    display: block;
    color: black;
    text-align: center;
    padding: 15px 28px;
    text-decoration: none;
    justify-content: center;
    position: relative;
/*	left: 150%;
	right: 50%;*/
}

/* Change the link color to #111 (black) on hover */
li a:hover {
    background-color: #B4B4B4;
    color: white;
}

img {
    border-radius: 50%;
    display: block;
    top: 145px;
    width: 400px;
    position: relative;
    margin-left: auto;
    margin-right: auto;
    opacity: 0.7;
}





mark {
    background-color: rgba(230,230,230,0);
    color: white;
}



