h1 {
	color: #B4B4B4;
	font-family: 'Titillium Web', sans-serif;
	left: 34%;
	text-align: center;
	vertical-align: middle;
	position: fixed;
}



h2 {
	color: #787878;
	font-family: 'Titillium Web', sans-serif;
	text-align: center;
	vertical-align: middle;
	top: 80px;
	position: relative;
}


p {
	color: #1E1E1E;
	font-family: 'Titillium Web', sans-serif;
	text-align: center;
	vertical-align: middle;
	width: 300px;

	position: relative;
	left: 40%;  
	top: 80px;

	display: flex;
	justify-content: center;
	flex-direction: column;

	
}




ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #E6E6E6;
    font-family: 'Titillium Web', sans-serif;
	text-align: center;
	vertical-align: middle;
	position: relative;
	top: 100px;
}

li {
    float: left;
}

li a {
    display: block;
    color: black;
    text-align: center;
    padding: 14px 24px;
    text-decoration: none;
    justify-content: center;
    position: relative;
	left: 500px;
}

/* Change the link color to #111 (black) on hover */
li a:hover {
    background-color: #B4B4B4;
}