/*h1 {
	color: #1E1E1E;
	font-family: 'Nunito', sans-serif;
	text-align: center;
	vertical-align: middle;
  position: relative;
  margin: auto;
  top: 200px;
}
*/




h2 {
  color: #787878;
  font-family: 'Nunito', sans-serif;
  text-align: center;
  vertical-align: middle;
  top: 90px;
  width: 500px;
  margin: auto;
  position: relative;
}


h3 {
  color: #787878;
  font-family: 'Nunito', sans-serif;
  text-align: center;
  vertical-align: middle;
  top: 90px;
  width: 500px;
  margin: auto;
  position: relative;
}


p.icon {
  opacity: 1;
  display: block;
  text-align: center;
  vertical-align: middle;
  top: 150px;
  position: relative;
  margin-bottom: 20%;
  
}

img.icon {
  opacity: 0.8;
  display: block;
  text-align: center;
  vertical-align: middle;
  top: 30px;
  position: relative;
  margin-left: 4%;
  margin-right: 4%;
  display:inline-block;
  /*margin-right: 10%;*/
  
}





ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: rgba(230,230,230,100);
    font-family: 'Nunito', sans-serif;
	  text-align: center;
	  vertical-align: middle;
	  width: 100%;
    position: fixed; 
    overflow: auto; 
    top: 0;
    z-index: 1000;
    /*mask-image: linear-gradient(90deg, rgba(255, 255, 255, 0) 0%, #ffffff 25%, #ffffff 75%, rgba(255, 255, 255, 0) 100%);*/
    /*mask-image: linear-gradient(90deg, rgba(255, 255, 255, 0) 0%, #ffffff 25%, #ffffff 75%, rgba(255, 255, 255, 0) 100%);*/
    /*left: -3px;*/
	/*top: 100px;*/
	/*position: fixed;*/
}

li {
    /*float: center;*/
    display: inline-block;
}

li a {
    display: block;
    color: black;
    text-align: center;
    padding: 15px 28px;
    text-decoration: none;
    justify-content: center;
    position: relative;
/*	left: 150%;
	right: 50%;*/
}

/* Change the link color to #111 (black) on hover */
li a:hover {
    background-color: #B4B4B4;
    color: white;
}




mark {
    background-color: rgba(230,230,230,0);
    color: white;
}

hr { 
    display: block;
    color: #787878;
    margin-top: 145px;
    /*margin-left: auto;
    margin-right: auto;*/
    height: 30px; 
    width: 85%;
  	border-style: solid; 
  	border-color: #8c8b8b; 
  	border-width: 1px 0 0 0; 
  	border-radius: 20px;
}


